# List of all dependencies required to host the documentation on Read the Docs
# Currently fixed to the latest versions that were compatible at the time of writing

# For the documentation
sphinx==7.3.7
sphinx_rtd_theme==2.0.0
sphinx-copybutton==0.5.2
sphinxcontrib-bibtex==2.6.2
myst-nb==1.1.0
numpydoc==1.7.0

# For the build
setuptools
ninja
meson
numpy

# For the package itself
numpy==1.26.4
h5py==3.11.0
matplotlib==3.9.0